{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
{% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
{% endif %}
<h2>Change Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <div style="color:red;">
            <strong>Form errors:</strong>
            {{ form.errors }}
        </div>
    {% endif %}
    <button type="submit">Change Password</button>
    <a href="{% url 'accounts:redirect_after_login' %}">Cancel</a>
</form>
{% endblock %}

