{% extends 'base.html' %}
{% block title %}Garage Profile{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-3">Garage Profile</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  {% if garage.image %}
    <div class="mt-4">
      <h5>Garage Image:</h5>
      <img src="{{ garage.image.url }}" class="img-thumbnail" style="max-width: 300px;">
    </div>
  {% endif %}
</div>
{% endblock %}
